.FirstSection{
    top: 45%;
    width: 100%;
    position: absolute;
    color: #fff;

}
.Explore{
    width: 250px;
    height: 250px;
    margin-top: 4%;
    margin-left: 35%;
    border-radius: 50%;
    font-size: 40px;
    color: #000;
    text-align: center;
    background: #fff
}
.exploreText{
    padding-top: 35%;
    font-size: 32px;
    text-transform: uppercase;
}
.LeftContainer{
  width: 60%;
  margin: auto;
}
.TextOne{
    text-transform: uppercase;
    letter-spacing: 1;
    line-height: 1;
    font-size: 26px;
    color: #bfc6dc;
}
.TextTwo{
    text-transform: uppercase;
    color: #fff;
    font-size: 90px;
    line-height: 70px;
    letter-spacing: 15px;
    padding-left: 1%;
}
.TextThree{
    color: #bfc6dc;
    
    
}